extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.styleguide

block contentFixedBefore

block contentStatic


  main.p-guide-main
    .p-guide-block
      p.p-guide-title
        |タイトルが入ります。
      pre.p-guide-code
        code.
          p
            |コードを記述してください。
    .p-guide-block
      p.p-guide-title
        |タイトルが入ります。
      pre.p-guide-code
        code.
          p
            |コードを記述してください。


block contentFixedAfter