.l-contents {
  // サイトフッターを画面下部に固定する記述
  flex: 1;
  overflow-x: hidden;
}

.l-contents-in {
  width: calc((1280 / 1366) * 100%);
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  @include l-tablet {
    width: 100%;
    padding-right: rem(40);
    padding-left: rem(40);
  }
  @include l-mobile {
    width: 100%;
    padding-right: sp(20);
    padding-left: sp(20);
  }
}
