extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.contact

block contentFixedBefore

block contentStatic


  main.l-main
    .l-contents-in
      p.p-contact-message
        |テキストが入ります。テキストが入ります。
        br
        |テキストが入ります。
      form.p-contact-body(action="#")
        .p-contact-group
          p.p-contact-group__header
            |お名前
            strong.p-contact-required
              |必須
          .p-contact-group__content
            p.p-contact-input__text
              input(type="text", name="#",placeholder="名前を入力してください。", title="名前の入力は必須です")
        .p-contact-group
          p.p-contact-group__header
            |ご検討案件の所在地
            strong.p-contact-required
              |必須
          .p-contact-group__content
            .p-contact-select
              select.p-contact-select__body(name="#", title="ご用件は必ず指定してください")
                option(value, disabled, selected, hidden) 都道府県
                option(value="北海道") 北海道
                option(value="青森県") 青森県
                option(value="岩手県") 岩手県
                option(value="宮城県") 宮城県
                option(value="秋田県") 秋田県
                option(value="山形県") 山形県
                option(value="福島県") 福島県
                option(value="茨城県") 茨城県
                option(value="栃木県") 栃木県
                option(value="群馬県") 群馬県
                option(value="埼玉県") 埼玉県
                option(value="千葉県") 千葉県
                option(value="東京都") 東京都
                option(value="神奈川県") 神奈川県
                option(value="新潟県") 新潟県
                option(value="富山県") 富山県
                option(value="石川県") 石川県
                option(value="福井県") 福井県
                option(value="山梨県") 山梨県
                option(value="長野県") 長野県
                option(value="岐阜県") 岐阜県
                option(value="静岡県") 静岡県
                option(value="愛知県") 愛知県
                option(value="三重県") 三重県
                option(value="滋賀県") 滋賀県
                option(value="京都府") 京都府
                option(value="大阪府") 大阪府
                option(value="兵庫県") 兵庫県
                option(value="奈良県") 奈良県
                option(value="和歌山県") 和歌山県
                option(value="鳥取県") 鳥取県
                option(value="島根県") 島根県
                option(value="岡山県") 岡山県
                option(value="広島県") 広島県
                option(value="山口県") 山口県
                option(value="徳島県") 徳島県
                option(value="香川県") 香川県
                option(value="愛媛県") 愛媛県
                option(value="高知県") 高知県
                option(value="福岡県") 福岡県
                option(value="佐賀県") 佐賀県
                option(value="長崎県") 長崎県
                option(value="熊本県") 熊本県
                option(value="大分県") 大分県
                option(value="宮崎県") 宮崎県
                option(value="鹿児島県") 鹿児島県
                option(value="沖縄県") 沖縄県
        .p-contact-group
          p.p-contact-group__header
            |その他
          .p-contact-group__content
            .p-contact-textarea
              textarea.p-contact-textarea__body(name="#",placeholder="その他内容を入力してください。", title="その他内容を入力してください。")
        p.p-contact-privacy
          |当社の
          a.p-contact-privacy__link(href=`${page.path}` target='_blank' rel='noopener noreferrer')
            |プライバシーポリシー
          br.u-dn-tb.u-dn-pc
          |に同意の上、送信してください。
        .p-contact-submit
          button.p-contact-submit__button(type="submit")
            span 確認する

block contentFixedAfter