// Start to define the global fotter.

footer.l-footer.js-footer
  //- p.l-footer-copy
  //-   small(lang="en" translate="no")
  //-     |&copy;Copyright ●●●●●●● co., Ltd.

// End to define the global fotter.
