// Start to define the global header.

header.l-header.js-header

  //- nav.l-gnav.js-navi#js-gnav-menu(aria-hidden="true")

  //- ハンバーガーメニュー
    button.p-hamburger.js-header-trigger(type="button" aria-controls="js-gnav-menu" aria-expanded="false" aria-label="メニューを開く場合はこちら")
      span.p-hamburger__in
        span.p-hamburger__line
        span.p-hamburger__line
        span.p-hamburger__line

// End to define the global header.